In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.chdir(os.path.dirname(os.getcwd()))
os.chdir('Data')
os.chdir('cherryblossoms')

In [3]:
kyoto = pd.read_excel('KyotoFullFlower7.xls', skiprows=25)

In [4]:
kyoto

,AD,Full-flowering date (DOY),Full-flowering date,Source code,Data type code,Reference Name
0,801,NaN,NaN,NaN,NaN,-
1,802,NaN,NaN,NaN,NaN,-
2,803,NaN,NaN,NaN,NaN,-
3,804,NaN,NaN,NaN,NaN,-
4,805,NaN,NaN,NaN,NaN,-
...,...,...,...,...,...,...
1216,2017,99.0,409.0,8.0,0.0,NEWS-PAPER(ARASHIYAMA)
1217,2018,89.0,330.0,8.0,0.0,NEWS-PAPER(ARASHIYAMA)
1218,2019,95.0,405.0,8.0,0.0,NEWS-PAPER(ARASHIYAMA)
1219,2020,92.0,401.0,8.0,0.0,NEWS-PAPER(ARASHIYAMA)
1220,2021,85.0,326.0,8.0,0.0,NEWS-PAPER(ARASHIYAMA)

In [5]:
# need to put date columns into date format
kyoto['Full-flowering date'] = kyoto['Full-flowering date'].astype(str)
kyoto.dtypes

AD                             int64
Full-flowering date (DOY)    float64
Full-flowering date           object
Source code                  float64
Data type code               float64
Reference Name                object
dtype: object

In [6]:
zero_date = '0' + kyoto['Full-flowering date']
zero_date = zero_date.str.rstrip('.0')
kyoto['Full-flowering date'] = zero_date
kyoto['Full-flowering date'] = kyoto['Full-flowering date'].replace('0nan', np.NaN)

In [9]:
kyoto['Full-flowering date'].astype(str) + '/' + kyoto['AD'].astype(str)

0         nan/801
1         nan/802
2         nan/803
3         nan/804
4         nan/805
          ...
1216    0409/2017
1217     033/2018
1218    0405/2019
1219    0401/2020
1220    0326/2021
Length: 1221, dtype: object