In [3]:
import pandas as pd
import os

In [4]:
os.chdir(os.path.dirname(os.getcwd()))
os.chdir('Data')
os.chdir('cherryblossoms')

In [5]:
# reading in data
first_bloom = pd.read_csv('sakura_first_bloom_dates.csv')
full_bloom = pd.read_csv('sakura_full_bloom_dates.csv')

### Adding Location, Latitude and Longitude

Following the code here to get latitude and longitude: 
https://www.kaggle.com/ryanglasnapp/quick-look-at-sakura-data/notebook

In [9]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [12]:
test = first_bloom.loc[0,'Site Name']

locator = Nominatim(user_agent="asjew")
location = locator.geocode(test)


print(location.address)
print(f"Latitude = {location.latitude}, Longitude = {location.longitude}")

稚内市, 宗谷総合振興局, 北海道, 日本
Latitude = 45.4158108, Longitude = 141.6730309

In [30]:
first_bloom.loc[:,'Site Name'] = first_bloom.loc[:,'Site Name'] + ', Japan'

In [31]:
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
first_bloom['Location'] = first_bloom['Site Name'].apply(geocode)
first_bloom['Latitude'] = first_bloom['Location'].apply(lambda x: x.latitude if x else None)
first_bloom['Longitude'] = first_bloom['Location'].apply(lambda x: x.longitude if x else None)

In [32]:
first_bloom.head()

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2017,2018,2019,2020,2021,30 Year Average 1981-2010,Notes,Location,Latitude,Longitude
0,"Wakkanai, Japan",True,5/21/1953,5/17/1954,5/17/1955,5/12/1956,5/18/1957,5/23/1958,5/3/1959,5/19/1960,...,5/9/2017,5/12/2018,5/7/2019,5/10/2020,5/8/2021,5 14,Sargent cherry (Prunus sargentii),"(稚内市, 宗谷総合振興局, 北海道, 日本, (45.4158108, 141.67303...",45.415811,141.673031
1,"Rumoi, Japan",False,5/8/1953,5/11/1954,5/13/1955,5/8/1956,5/10/1957,5/12/1958,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-,Sargent cherry (Prunus sargentii),"(留萌市, 留萌振興局, 北海道, 日本, (43.941029, 141.6368171))",43.941029,141.636817
2,"Asahikawa, Japan",True,5/11/1953,5/13/1954,5/9/1955,5/7/1956,5/9/1957,5/10/1958,5/8/1959,5/13/1960,...,5/3/2017,4/30/2018,5/1/2019,5/3/2020,4/29/2021,5 5,Sargent cherry (Prunus sargentii),"(旭川, 南連絡通路, 宮下通八丁目, 神楽, 旭川市, 上川総合振興局, 北海道, 070...",43.762750,142.357926
3,"Abashiri, Japan",True,5/24/1953,5/16/1954,5/18/1955,5/9/1956,NaN,NaN,5/3/1959,NaN,...,5/5/2017,5/2/2018,5/5/2019,5/7/2020,5/6/2021,5 11,Sargent cherry (Prunus sargentii),"(網走市, オホーツク総合振興局, 北海道, 日本, (44.0206027, 144.27...",44.020603,144.273203
4,"Sapporo, Japan",True,5/7/1953,5/4/1954,5/11/1955,5/4/1956,5/9/1957,NaN,5/5/1959,5/5/1960,...,4/28/2017,4/26/2018,4/24/2019,4/30/2020,4/22/2021,5 3,NaN,"(札幌市, 石狩振興局, 北海道, 日本, (43.061936, 141.3542924))",43.061936,141.354292

In [18]:
first_bloom.loc[first_bloom['Latitude'].isnull()]

Empty DataFrame
Columns: [Site Name, Currently Being Observed, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 30 Year Average 1981-2010, Notes, Location, Latitude, Longitude]
Index: []

[0 rows x 76 columns]

In [22]:
# Now for the full bloom data

full_bloom.loc[:,'Site Name'] = full_bloom.loc[:,'Site Name'] + ', Japan'

In [23]:
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
full_bloom['Location'] = full_bloom['Site Name'].apply(geocode)
full_bloom['Latitude'] = full_bloom['Location'].apply(lambda x: x.latitude if x else None)
full_bloom['Longitude'] = full_bloom['Location'].apply(lambda x: x.longitude if x else None)

In [27]:
full_bloom.head()

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2017,2018,2019,2020,2021,30 Year Average 1981-2010,Notes,Location,Latitude,Longitude
0,"Wakkanai, Japan",True,5/30/1953,5/27/1954,5/23/1955,5/14/1956,5/22/1957,5/25/1958,5/12/1959,5/24/1960,...,5/11/2017,5/15/2018,5/9/2019,5/12/2020,5/11/2021,5 17,Sargent cherry (Prunus sargentii),"(稚内市, 宗谷総合振興局, 北海道, 日本, (45.4158108, 141.67303...",45.415811,141.673031
1,"Rumoi, Japan",False,5/13/1953,5/17/1954,5/16/1955,5/14/1956,5/14/1957,5/16/1958,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-,Sargent cherry (Prunus sargentii),"(留萌市, 留萌振興局, 北海道, 日本, (43.941029, 141.6368171))",43.941029,141.636817
2,"Asahikawa, Japan",True,5/16/1953,5/18/1954,5/14/1955,5/13/1956,5/14/1957,5/15/1958,5/13/1959,5/16/1960,...,5/5/2017,5/1/2018,5/4/2019,5/4/2020,5/3/2021,5 7,Sargent cherry (Prunus sargentii),"(旭川, 南連絡通路, 宮下通八丁目, 神楽, 旭川市, 上川総合振興局, 北海道, 070...",43.762750,142.357926
3,"Abashiri, Japan",True,5/26/1953,5/19/1954,5/20/1955,5/13/1956,NaN,NaN,5/7/1959,NaN,...,5/7/2017,5/6/2018,5/7/2019,5/9/2020,5/7/2021,5 14,Sargent cherry (Prunus sargentii),"(網走市, オホーツク総合振興局, 北海道, 日本, (44.0206027, 144.27...",44.020603,144.273203
4,"Sapporo, Japan",True,5/14/1953,5/8/1954,5/16/1955,5/9/1956,5/13/1957,NaN,5/10/1959,5/9/1960,...,5/3/2017,4/29/2018,4/29/2019,5/2/2020,4/27/2021,5 7,NaN,"(札幌市, 石狩振興局, 北海道, 日本, (43.061936, 141.3542924))",43.061936,141.354292

In [33]:
# Now add columns to csv files
first_bloom.to_csv('sakura_first_bloom_dates.csv', index=False)
full_bloom.to_csv('sakura_full_bloom_dates.csv', index=False)

In [13]:
first_bloom.assign(group=first_bloom.index//102).pivot(index="group", values="", columns="ITEM"))

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2018,2019,2020,2021,30 Year Average 1981-2010,Notes,Location,Latitude,Longitude,group
0,"Wakkanai, Japan",True,5/21/1953,5/17/1954,5/17/1955,5/12/1956,5/18/1957,5/23/1958,5/3/1959,5/19/1960,...,5/12/2018,5/7/2019,5/10/2020,5/8/2021,5 14,Sargent cherry (Prunus sargentii),"稚内市, 宗谷総合振興局, 北海道, 日本",45.415811,141.673031,0
1,"Rumoi, Japan",False,5/8/1953,5/11/1954,5/13/1955,5/8/1956,5/10/1957,5/12/1958,NaN,NaN,...,NaN,NaN,NaN,NaN,-,Sargent cherry (Prunus sargentii),"留萌市, 留萌振興局, 北海道, 日本",43.941029,141.636817,0
2,"Asahikawa, Japan",True,5/11/1953,5/13/1954,5/9/1955,5/7/1956,5/9/1957,5/10/1958,5/8/1959,5/13/1960,...,4/30/2018,5/1/2019,5/3/2020,4/29/2021,5 5,Sargent cherry (Prunus sargentii),"旭川, 南連絡通路, 宮下通八丁目, 神楽, 旭川市, 上川総合振興局, 北海道, 0700...",43.762750,142.357926,0
3,"Abashiri, Japan",True,5/24/1953,5/16/1954,5/18/1955,5/9/1956,NaN,NaN,5/3/1959,NaN,...,5/2/2018,5/5/2019,5/7/2020,5/6/2021,5 11,Sargent cherry (Prunus sargentii),"網走市, オホーツク総合振興局, 北海道, 日本",44.020603,144.273203,0
4,"Sapporo, Japan",True,5/7/1953,5/4/1954,5/11/1955,5/4/1956,5/9/1957,NaN,5/5/1959,5/5/1960,...,4/26/2018,4/24/2019,4/30/2020,4/22/2021,5 3,NaN,"札幌市, 石狩振興局, 北海道, 日本",43.061936,141.354292,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,"Kumejima, Japan",False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-,Taiwan cherry (Prunus campanulata),"久米島, 久米島町, 島尻郡, 沖縄県, 日本",26.341139,126.789053,0
98,"Naha, Japan",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1/10/2018,1/10/2019,1/6/2020,1/14/2021,1 18,Taiwan cherry (Prunus campanulata),"那覇市, 沖縄県, 900-8585, 日本",26.212235,127.679145,0
99,"Nago, Japan",False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-,Taiwan cherry (Prunus campanulata),"名護市, 沖縄県, 905-8540, 日本",26.591452,127.977306,0
100,"Iriomote Island, Japan",False,NaN,NaN,1/7/1955,NaN,1/16/1957,NaN,1/12/1959,2/8/1960,...,NaN,NaN,NaN,NaN,-,Taiwan cherry (Prunus campanulata),"西表島, 八重山郡, 沖縄県, 日本",24.346401,123.839164,0
101,"Minamidaitojima, Japan",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1/7/2018,1/25/2019,2/6/2020,NaN,1 20,Taiwan cherry (Prunus campanulata),"南大東島, 南大東村, 島尻郡, 沖縄県, 日本",25.842312,131.242871,0

In [16]:
first_bloom.drop(columns=['Notes', '30 Year Average 1981-2010', 'Location'])

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2014,2015,2016,2017,2018,2019,2020,2021,Latitude,Longitude
0,"Wakkanai, Japan",True,5/21/1953,5/17/1954,5/17/1955,5/12/1956,5/18/1957,5/23/1958,5/3/1959,5/19/1960,...,5/11/2014,5/3/2015,5/13/2016,5/9/2017,5/12/2018,5/7/2019,5/10/2020,5/8/2021,45.415811,141.673031
1,"Rumoi, Japan",False,5/8/1953,5/11/1954,5/13/1955,5/8/1956,5/10/1957,5/12/1958,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.941029,141.636817
2,"Asahikawa, Japan",True,5/11/1953,5/13/1954,5/9/1955,5/7/1956,5/9/1957,5/10/1958,5/8/1959,5/13/1960,...,5/2/2014,4/27/2015,5/3/2016,5/3/2017,4/30/2018,5/1/2019,5/3/2020,4/29/2021,43.762750,142.357926
3,"Abashiri, Japan",True,5/24/1953,5/16/1954,5/18/1955,5/9/1956,NaN,NaN,5/3/1959,NaN,...,5/7/2014,4/30/2015,5/8/2016,5/5/2017,5/2/2018,5/5/2019,5/7/2020,5/6/2021,44.020603,144.273203
4,"Sapporo, Japan",True,5/7/1953,5/4/1954,5/11/1955,5/4/1956,5/9/1957,NaN,5/5/1959,5/5/1960,...,4/29/2014,4/22/2015,4/25/2016,4/28/2017,4/26/2018,4/24/2019,4/30/2020,4/22/2021,43.061936,141.354292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,"Kumejima, Japan",False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.341139,126.789053
98,"Naha, Japan",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1/15/2014,1/15/2015,1/21/2016,1/14/2017,1/10/2018,1/10/2019,1/6/2020,1/14/2021,26.212235,127.679145
99,"Nago, Japan",False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.591452,127.977306
100,"Iriomote Island, Japan",False,NaN,NaN,1/7/1955,NaN,1/16/1957,NaN,1/12/1959,2/8/1960,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.346401,123.839164
101,"Minamidaitojima, Japan",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1/7/2014,1/15/2015,2/9/2016,1/27/2017,1/7/2018,1/25/2019,2/6/2020,NaN,25.842312,131.242871

In [23]:
long_first = pd.melt(first_bloom.drop(columns=['Notes', '30 Year Average 1981-2010', 'Location']),
        id_vars=['Site Name', 'Currently Being Observed', 'Latitude', 'Longitude'])

In [26]:
long_first = long_first.rename(columns={"variable": "Year", "value": "First Bloom Date"})

In [27]:
long_first.to_csv('long_first_bloom.csv', index=False)

In [28]:
long_full = pd.melt(full_bloom.drop(columns=['Notes', '30 Year Average 1981-2010', 'Location']),
        id_vars=['Site Name', 'Currently Being Observed', 'Latitude', 'Longitude'])

long_full = long_full.rename(columns={"variable": "Year", "value": "Full Bloom Date"})
long_full.to_csv('long_full_bloom.csv', index=False)

In [31]:
long_full.head()

,Site Name,Currently Being Observed,Latitude,Longitude,Year,Full Bloom Date
0,"Wakkanai, Japan",True,45.415811,141.673031,1953,5/30/1953
1,"Rumoi, Japan",False,43.941029,141.636817,1953,5/13/1953
2,"Asahikawa, Japan",True,43.762750,142.357926,1953,5/16/1953
3,"Abashiri, Japan",True,44.020603,144.273203,1953,5/26/1953
4,"Sapporo, Japan",True,43.061936,141.354292,1953,5/14/1953