In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
os.chdir(os.path.dirname(os.getcwd()))
os.chdir('Data')
os.chdir('tourism')
# read in data
df = pd.read_csv('tourists_by_year_country.csv')

In [9]:
blooming_months = ['Mar.', 'Apr.', 'May']
df['Season'] = np.where(df['Month (abbr)'].isin(blooming_months), 'Blooming Season', 'Non-Blooming Season')

,Country/Area,Month (abbr),Year,Growth Rate(%),Visitor Arrivals,Season
0,Afghanistan,Jan.,2012,-93.525864805,204,Non-Blooming Season
1,Afghanistan,Feb.,2012,-95.490952240,152,Non-Blooming Season
2,Afghanistan,Mar.,2012,-95.931677019,131,Blooming Season
3,Afghanistan,Apr.,2012,-96.276736203,141,Blooming Season
4,Afghanistan,May,2012,-94.309559939,150,Blooming Season
...,...,...,...,...,...,...
42631,Zimbabwe,Aug.,2021,77.777777778,16,Non-Blooming Season
42632,Zimbabwe,Sep.,2021,0,3,Non-Blooming Season
42633,Zimbabwe,Oct.,2021,-75,2,Non-Blooming Season
42634,Zimbabwe,Nov.,2021,600,7,Non-Blooming Season
42635,Zimbabwe,Dec.,2021,NaN,NaN,Non-Blooming Season

In [10]:
df.to_csv('tourists_bloom_szn.csv', index = False)